<plugin name='cuaderno19' version='1.0' grailsVersion='2.0 &gt; *'>
  <author>Jesús J. Ballano</author>
  <authorEmail>jjballano@gmail.com</authorEmail>
  <title>Cuaderno19 Plugin</title>
  <description>Cuaderno19 is a file needed to order a payment to a bank in Spain. It can be done very easy with this plugin.It just makes a simple Cuaderno19, but it can be completed so easyGrails version is 2.0 or later. It is not tested on previous versions
The source code is available in https://github.com/jjballano/Cuaderno19. Contributions are welcome
</description>
  <documentation>https://github.com/jjballano/Cuaderno19/blob/master/README</documentation>
  <type>Cuaderno19GrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>